.iaw-card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('../images/pubblicita.jpg');
}

.iaw-progress-bar {
  width: 25%
}