{% extends "base.html" %}

{% block titolo %}Prenotazione{% endblock %}

{% block prenotazione_active %}active{% endblock %}

{% block contenuto %}
<div class="row justify-content-md-center">
  <form action="/prenotare" method="post" class="row bg-body-tertiary border border-light-subtle rounded-1 my-4">

    <strong class="py-3 border-bottom">Informazioni sulla prenotazione</strong>

    <div class="col-md-4 p-3">
      <label for="txt_date" class="form-label">Data</label>
      <input type="date" class="form-control" name="txt_date" id="txt_date" placeholder="Seleziona una data" required />
    </div>
    <div class="col-md-4 p-3">
      <label for="select_aula" class="form-label">Aula</label>
      <select class="form-select" name="select_aula" id="select_aula">
        {% for aula in p_aule %}
        <option value="{{aula.id}}">{{aula.nome}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4 p-3">
      <label for="select_fascia_oraria" class="form-label">Fascia oraria</label>
      <select class="form-select" name="select_fascia_oraria" id="select_fascia_oraria">
        {% for fascia in p_fasce %}
        <option value="{{fascia.id}}">{{fascia.ora_inizio}} - {{fascia.ora_fine}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-6 p-3">
      <button type="submit" class="btn btn-primary">Invia</button>
      <button type="reset" class="btn btn-danger">Cancella tutto</button>
    </div>
  </form>
</div>
{% endblock %}